body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#gameContainer {
  width: 100%;
  height: 100%;
  background-color: rgb(191, 225, 255);
  overflow: hidden;
}

.player {
  position: absolute;
  background-color: red;
}

.obstacle {
  position: absolute;
  background-color: green;
}
